*.safetensors
*.xml
*.iml

.venv
*.txt
*.env
dev.env

XML_Roberta_neural_network_Anonimizator_finetune/Model/

XML_Roberta_neural_network_Anonimizator_finetune/ner_model_output/

*.conll

__pycache__/
*.pyc
*.pyo
*.pyd

XML_Roberta_neural_network_Anonimizator_finetune/venv/
*.pyc
/XML_Roberta_neural_network_Anonimizator_finetune/ner_model_output

*.json

__pycache__/
*.pyc
*.pyc
*.pyc
*.pyc
